<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/architect/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/architect/print.css' | relative_url }}" media="print" type="text/css">

  </head>

  <body>

  <iframe name="inner" id="iframe1" width="100%" scrolling="no" height="2000" frameborder=0 src="http://www.baidu.com" ></iframe>

    <script>

        if (window.location.search.search("/?") == 0){
          url = window.location.search.substr(1)
          if(isURL(url)){
            var iframe = document.getElementById('iframe1')
            iframe.src=url
            iframe.height = window.outerHeight*5
          }
        }
        function isURL(str) {
          var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
          '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.?)+[a-z]{2,}|'+ // domain name
          '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
          '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
          '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
          '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
          return pattern.test(str);
        }
    </script>

  </body>
</html>
